<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forgor It</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link ref="favicon" href="static\favicon_io">
    <script src ="static/index.js"></script>
     </head>
  <body onload="liveUpdate()">
  <header>
    <h1>FORGOR IT💀!</h1>
 <h2>
  He f*cking lost something again,didn't it? 
 </h2>
   </header>
  <p>Well then here is a counter for being salty🧂(for sure not made in javascript)</p>
  <h1 id = "counter">_</h1>
    <div id = "button__wrapper">
      <button id = "button__decrease" onclick="decrement()">➖</button>
      <button id = "button__increase" onclick="increment()">➕</button>
    </div>
<h6>Work in progress😆</h6>
  </body>
</html>
